html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("./fonts/Roboto-Black.eot");
  src: url("./fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Black.otf") format("opentype"), url("./fonts/Roboto-Black.svg") format("svg"), url("./fonts/Roboto-Black.ttf") format("truetype"), url("./fonts/Roboto-Black.woff") format("woff"), url("./fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("./fonts/Roboto-Bold.eot");
  src: url("./fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Bold.otf") format("opentype"), url("./fonts/Roboto-Bold.svg") format("svg"), url("./fonts/Roboto-Bold.ttf") format("truetype"), url("./fonts/Roboto-Bold.woff") format("woff"), url("./fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("./fonts/Roboto-Medium.eot");
  src: url("./fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Medium.otf") format("opentype"), url("./fonts/Roboto-Medium.svg") format("svg"), url("./fonts/Roboto-Medium.ttf") format("truetype"), url("./fonts/Roboto-Medium.woff") format("woff"), url("./fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("./fonts/Roboto-Regular.eot");
  src: url("./fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular.otf") format("opentype"), url("./fonts/Roboto-Regular.svg") format("svg"), url("./fonts/Roboto-Regular.ttf") format("truetype"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("./fonts/Raleway-VariableFontwght.eot");
  src: url("./fonts/Raleway-VariableFontwght.eot?#iefix") format("embedded-opentype"), url("./fonts/Raleway-VariableFontwght.otf") format("opentype"), url("./fonts/Raleway-VariableFontwght.svg") format("svg"), url("./fonts/Raleway-VariableFontwght.ttf") format("truetype"), url("./fonts/Raleway-VariableFontwght.woff") format("woff"), url("./fonts/Raleway-VariableFontwght.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.our-approach, .type-work, .our-team, .partners, .footer, .portfolio {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .our-approach, .type-work, .our-team, .partners, .footer, .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header .container, .our-approach .container, .type-work .container, .our-team .container, .partners .container, .container--center--footer, .portfolio .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .page-header .container, .our-approach .container, .type-work .container, .our-team .container, .partners .container, .container--center--footer, .portfolio .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container, .our-approach .container, .type-work .container, .our-team .container, .partners .container, .container--center--footer, .portfolio .container {
    width: 768px;
  }
}

@media screen and (max-width: 1199px) {
  .page-header .container, .our-approach .container, .type-work .container, .our-team .container, .partners .container, .container--center--footer, .portfolio .container {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .container, .our-approach .container, .type-work .container, .our-team .container, .partners .container, .container--center--footer, .portfolio .container {
    width: 1200px;
  }
}

.socseti__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon-socseti {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section-hero__button, .modal__submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-hero__button, .modal__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #2196f3;
}

@media (max-width: 479px) {
  .logo-link {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 480px) {
  .logo-link {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 1200px) {
  .logo-link {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__studio--black {
  color: #000000;
}

.logo__studio--white {
  color: #ffffff;
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .nav {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.nav__site {
  list-style: none;
  margin: 0;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav__site {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #212121;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}

.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__tablet {
    display: inline-block;
    margin-left: 96px;
  }
}

@media (min-width: 1200px) {
  .nav__tablet {
    margin-left: 305px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__tablet .nav__item {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__tablet .nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__tablet .nav__link {
    padding: 0;
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.section-hero {
  margin-right: auto;
  margin-left: auto;
  background: var(--hero-background);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  text-align: center;
}

@media (max-width: 1199px) {
  .section-hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section-hero__title {
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto-Black';
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

@media (max-width: 479px) {
  .section-hero__title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    max-width: 360px;
  }
}

@media (min-width: 480px) {
  .section-hero__title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .section-hero__title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.section-hero__button {
  display: block;
  font-family: 'Roboto-Bold';
  margin-right: auto;
  margin-left: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1199px) {
  .modal {
    width: calc(100% - 30px);
    max-width: 480px;
  }
}

.overlay.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close_icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.modal_close:hover, .modal_close:focus {
  color: #2196f3;
}

.form__label {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__label:focus-within .form__icon,
.form__label:focus-within .form__input {
  outline-color: #2196f3;
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  bottom: 21px;
  left: 12px;
}

.form__input {
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  margin-bottom: 20px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:focus {
  outline-color: #2196f3;
}

.modal__submit {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.form__text {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (max-width: 767px) {
  .form__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.form__text .conditions-link {
  color: #2196f3;
}

.form__text::before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox {
  display: none;
  width: 16px;
  height: 15px;
  cursor: pointer;
  outline: none;
}

.form__checkbox:checked ~ .form__text::before {
  background-color: #2196f3;
  background-image: url(../images/icon-conditions.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  border-radius: 4px;
}

@media (max-width: 1199px) {
  .our-approach {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.our-approach__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .our-approach__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .our-approach__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-approach__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-approach__item:nth-child(2n) {
    margin-right: 0;
  }
  .our-approach__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .our-approach__item:not(:first-child) {
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .our-approach__item {
    width: 270px;
  }
}

.our-approach__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Roboto-Bold';
  text-transform: uppercase;
  color: #212121;
}

@media (max-width: 479px) {
  .our-approach__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

@media (min-width: 480px) {
  .our-approach__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .our-approach__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.our-approach__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-approach__box {
  display: inline-block;
  text-align: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding-top: 25px;
}

@media (max-width: 1199px) {
  .our-approach__box {
    width: 100%;
    border-radius: 4px;
  }
}

@media (min-width: 1200px) {
  .our-approach__box {
    width: 270px;
  }
}

.our-approach__box-icon {
  width: 70px;
  height: 70px;
}

.hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.type-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}

@media (max-width: 1199px) {
  .type-work {
    display: none;
  }
}

.type-work__title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.type-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.type-work__item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.type-work__item:nth-child(3n) {
  margin-right: 0;
}

.type-work__item::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-team {
  background-color: #f5f4fa;
}

@media (max-width: 1199px) {
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.our-team__title {
  margin: 0;
  text-align: center;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (max-width: 479px) {
  .our-team__title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 480px) {
  .our-team__title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.our-team__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our-team__item {
  border: var(--border);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

@media screen and (max-width: 767px) {
  .our-team__item {
    margin-bottom: 30px;
  }
  .our-team__item .our-team__item:nth-child(4n) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .our-team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 30px) / 2);
  }
  .our-team__item:nth-child(2n) {
    margin-right: 0;
  }
  .our-team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .our-team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    width: calc((100% - 30px * 3) / 4);
  }
}

.our-team__item:last-child {
  margin-right: 0;
}

.box-manager {
  background-color: #ffffff;
  width: 100%;
}

@media (max-width: 479px) {
  .box-manager {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media (min-width: 480px) {
  .box-manager {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .box-manager {
    padding: 30px 32px;
  }
}

.box-manager__name {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.box-manager__specialty {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.socseti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 206px;
  height: 44px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 479px) {
  .socseti {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 480px) {
  .socseti {
    margin-right: auto;
    margin-left: auto;
  }
}

.socseti__item + .socseti__item {
  margin-left: 10px;
}

.socseti__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socseti__link:hover, .socseti__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socseti__link--grey {
  color: #afb1b8;
}

.socseti__link--bgc {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1199px) {
  .partners {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.partners__title {
  margin: 0;
  text-align: center;
  font-family: 'Roboto-Bold';
  color: #212121;
}

@media (max-width: 479px) {
  .partners__title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 480px) {
  .partners__title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 1200px) {
  .partners__title {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners__item {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .partners__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .partners__item:nth-child(2n) {
    margin-right: 0;
  }
  .partners__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .partners__item {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .partners__item:nth-child(3n) {
    margin-right: 0;
  }
  .partners__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .partners__item + .partners__item {
    margin-left: 30px;
  }
}

@media (max-width: 479px) {
  __item:nth-child(2n) {
    margin-right: 0;
  }
  __item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media (min-width: 1200px) {
  .partners__link {
    width: 170px;
  }
}

.icon-partners1 {
  fill: currentColor;
  width: 44px;
  height: 49px;
}

.icon-partners2 {
  fill: currentColor;
  width: 40px;
  height: 52px;
}

.icon-partners3 {
  fill: currentColor;
  width: 41px;
  height: 43px;
}

.icon-partners4 {
  fill: currentColor;
  width: 80px;
  height: 42px;
}

.icon-partners5 {
  fill: currentColor;
  width: 59px;
  height: 47px;
}

.icon-partners6 {
  fill: currentColor;
  width: 88px;
  height: 45px;
}

.footer {
  background: #2f303a;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .container--center--footer {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container--center--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .container--center--footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.contact {
  display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    text-align: center;
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

.address__text {
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: #ffffff;
}

.address__contact {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer__title {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .socseti-box {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .socseti-box {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .socseti-box {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199px) {
  .footer-mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-footer__input-mail {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

@media (max-width: 767px) {
  .form-footer__input-mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-footer__input-mail {
    display: block;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .form-footer__input-mail {
    margin-right: 12px;
  }
}

.form-footer__input-mail:focus {
  color: #ffffff;
}

.plane {
  margin-left: 10px;
  fill: #ffffff;
}

@media (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__list-button {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .portfolio__list-button {
    margin-bottom: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: calc((100% -103px));
  }
}

@media (min-width: 768px) {
  .portfolio__list-button {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio__list-button {
    margin-bottom: 34px;
  }
}

.portfolio__button {
  padding: 6px 22px;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__item-button {
  margin-right: 8px;
}

.portfolio__item-button:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .portfolio__item-button {
    margin-bottom: 15px;
  }
}

.project {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project__link {
  text-decoration: none;
}

.project__item {
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .project__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 30px) / 2);
  }
  .project__item:nth-child(2n) {
    margin-right: 0;
  }
  .project__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .project__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
  }
  .project__item:nth-child(3n) {
    margin-right: 0;
  }
  .project__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.project__item:hover, .project__item:focus,
.project__item:hover .project__about-project {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0);
          transform: translate(0);
}

.project__img {
  position: relative;
  overflow: hidden;
}

.project__about-project {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: #2196f3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-box {
  padding: 20px 24px;
}

.project__title {
  color: #212121;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.project__type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
  color: #757575;
}

.mobile-menu {
  position: absolute;
  right: 15px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu:hover, .mobile-menu:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.icon-cross,
.icon-menu {
  fill: currentColor;
}

.mobile-menu .icon-cross {
  display: none;
}

.mobile-menu.is-open .icon-cross {
  display: block;
}

.mobile-menu.is-open .icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 2;
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .nav.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #ececec;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media (max-width: 767px) {
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .nav .nav__item:first-child {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .nav__item {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .nav__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 0;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 767px) {
  .nav__tablet .nav__item:first-child {
    margin-bottom: 20px;
  }
}

.nav__tablet .nav__item:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */