.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  text-decoration: none;
  color: $accentColor;

  @include for-size(desktop-only) {
    @include text(700, 24px, 1.17, 0.03em);
  }

  @include for-size(desktop) {
    @include text(700, 26px, 1.19, 0.03em);
  }
}

.logo__studio--black {
  color: $logoStudioColor;
}

.logo__studio--white {
  color: $whiteColor;
}
