.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  @include for-size(desktop-only) {
    width: calc(100% - 30px);
    max-width: 480px;
  }

  border-radius: 4px;
  padding: 40px;

  background-color: $whiteColor;

  transition: transform $ms $cubic;

  .overlay.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Roboto';
    @include text(700, 20px, 1.15, 0.03em);
    text-align: center;
    color: $blackColor;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  width: 30px;
  height: 30px;

  background-color: $whiteColor;
  cursor: pointer;

  transition: $ms $cubic;

  &_icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
