.our-approach {
  @extend %section;

  @include for-size(desktop-only) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.our-approach__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.our-approach__item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  @include for-size(desktop) {
    width: 270px;
  }
}

.our-approach__title {
  margin: 0;
  margin-bottom: 10px;

  font-family: 'Roboto-Bold';
  text-transform: uppercase;
  color: $blackColor;

  @include for-size(mobile-only) {
    @include text(700, 14px, 1.14, 0.03em);
    text-align: center;
  }

  @include for-size(mobile) {
    @include text(700, 14px, 1.14, 0.03em);
    text-align: center;
  }

  @include for-size(desktop) {
    @include text(700, 14px, 1.71, 0.03em);
  }
}

.our-approach__text {
  margin: 0;
  @include text(400, 14px, 1.71, 0.03em);
}

.our-approach__box {
  display: inline-block;
  text-align: center;
  height: 120px;
  background-color: $ourTeamColor;
  margin-bottom: 30px;
  padding-top: 25px;

  @include for-size(desktop-only) {
    width: 100%;
    border-radius: 4px;
  }

  @include for-size(desktop) {
    width: 270px;
  }
}

.our-approach__box-icon {
  width: 70px;
  height: 70px;
}

.hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
