.our-team {
  // display: flex;
  @extend %section;

  @include for-size(mobile-only) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include for-size(mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  background-color: $ourTeamColor;

  .container {
    @extend %container;
  }

  &__title {
    margin: 0;
    text-align: center;

    @include for-size(mobile-only) {
      margin-bottom: 30px;
      @include text(700, 28px, 1.17, 0.03em);
    }

    @include for-size(mobile) {
      margin-bottom: 30px;
      @include text(700, 28px, 1.17, 0.03em);
    }

    @include for-size(desktop) {
      margin-bottom: 50px;
      @include text(700, 36px, 1.17, 0.03em);
    }

    font-family: 'Roboto-Bold';
    @include text(700, 36px, 1.17, 0.03em);
    color: $blackColor;
  }
}

.our-team__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.our-team__item {
  border: var(--border);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;

    .our-team__item:nth-child(4n) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;

    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 30px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    display: flex;
    margin-right: 30px;
    width: calc((100% - 30px * 3) / 4);

    .our-team__item:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.box-manager {
  background-color: $whiteColor;
  width: 100%;

  @include for-size(mobile-only) {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  @include for-size(mobile) {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  @include for-size(desktop) {
    padding: 30px 32px;
  }

  &__name {
    margin: 0;
    margin-bottom: 10px;

    font-family: 'Roboto-Bold';
    @include text(700, 16px, 1.19, 0.03em);
    text-align: center;
    color: $blackColor;
  }

  &__specialty {
    margin: 0;
    @include text(400, 16px, 1.19, 0.03em);
    text-align: center;
  }
}
