%section {
  // max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

%container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

%link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

%icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

%button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;

  color: $whiteColor;
  background-color: $accentColor;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
}
