// Palette-Color:
$primaryColor: #757575;
$accentColor: #2196f3;
$blackColor: #212121;
$whiteColor: #ffffff;
$logoStudioColor: #000000;
$footerTextColor: rgba(255, 255, 255, 0.6);
$heroBgColor: #2f303a;
$ourTeamColor: #f5f4fa;
$iconColor: #afb1b8;

// Animation
$ms: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Шрифт

$main-font: 'Roboto', sans-serif;
